{{#if messages.logout}}
  <ul>
    <li>{{messages.logout}}</li>
  </ul>
{{/if}}
{{#if messages.error}}
  <ul>
    <li>{{messages.error}}</li>
  </ul>
{{/if}}
{{#if messages.login}}
  <ul>
    <li>{{messages.login}}</li>
  </ul>
{{/if}}
{{#if messages.success}}
<ul>
  <li>{{messages.success}}</li>
</ul>
{{else}}
  <h3>Welcome to elearn!</h3>
{{/if}}

{{#if user}}
{{else}}
  <a href="/users/signup" class="button">Sign up free</a>
  <p>Or log in to get classes</p>
{{/if}}
